{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracesSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}
